/* add-on styles */

/*** overview ***/

#code-stats-overview {
  background: white;
  width: 100%;
}

#code-stats-overview .stats-overview {
  max-height: 40px;
  overflow: hidden;
}

#code-stats-overview .stats-overview .stats-switcher {
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0;
}

#code-stats-overview .stats-overview .stats-switcher.show-language-stats {
  top: -40px;
}

#code-stats-overview ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#code-stats-overview ol li {
  flex: 1;
  padding: 10px 5px;
  text-align: center;
}

#code-stats-overview ol li a:hover {
  cursor: pointer;
  text-decoration: none;
}

#code-stats-overview .repo-stats li a {
  color: #6a737d;
}

#code-stats-overview .repo-stats li a:hover {
  color: #0747A6;
}

#code-stats-overview .repo-stats li a:not(:hover) .number {
  color: black;
}

#code-stats-overview .languages-stats li a .lang {
  color: black;
  /*font-weight: bold;*/
}

#code-stats-overview .languages-stats li a .lang-color {
  background: black;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
}

#code-stats-overview .languages-stats li a .percent {
  color: #6a737d;
  /*font-weight: bold;*/
}

#code-stats-overview .languages-graph {
  cursor: pointer;
  height: 8px;
  overflow: hidden;
}

#code-stats-overview .languages-graph .lang-color {
  float: left;
  height: 8px;
}

#code-stats-overview .languages-graph::after {
  clear: both;
  content: ' ';
  display: table;
}

/*** contributors ***/

#code-stats-contributors {
  background: white;
  padding: 20px;
  padding-top: 56px; /* until we have the breadcump */
}

#code-stats-contributors h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.71428571em;
  font-weight: 500;
  margin-top: 10px;
}

#code-stats-contributors #contributors-cards {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 20px 0;
  width: 100%;
}

#code-stats-contributors #contributors-cards .contributor-card {
  box-sizing: border-box;
  display: block;
  float: left;
  padding-bottom: 20px;
  padding-right: 20px;
  width: 50%;
}

#code-stats-contributors #contributors-cards .contributor-card .wrapper {
  border: 1px solid #ccc;
  border-radius: 3px;
}

#code-stats-contributors #contributors-cards .contributor-card .title {
  padding: 10px;
}

#code-stats-contributors #contributors-cards .contributor-card .title::after {
  clear: both;
  content: '';
  display: table;
}

#code-stats-contributors #contributors-cards .contributor-card .title .avatar {
  display: block;
  float: left;
  height: 36px;
  width: 36px;
}

#code-stats-contributors #contributors-cards .contributor-card .title .avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#code-stats-contributors #contributors-cards .contributor-card .title h3 {
  clear: right;
  float: left;
  font-size: 14px;
  margin: 0;
  margin-left: 10px;
}

#code-stats-contributors #contributors-cards .contributor-card .title h3 .meta {
  color: #6a737d;
  display: block;
  font-size: 11px;
}

#code-stats-contributors #contributors-cards .contributor-card .graph {
  background: #F4F5F7;
  border-top: 1px solid #ccc;
  padding: 8px 0;
}

#code-stats-contributors #contributors-cards .contributor-card .graph g {
  display: block;
  width: 100%;
  height: 160px;
}

#code-stats-contributors #contributors-cards .contributor-card .graph g .main-svg .cartesianlayer .gridlayer .xgrid {
  display: none;
}